.feature-box {
  background-color: #fffc;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem #000b;
  transition: transform .2s;

  @include responsive(tab-ver){
    padding: 2rem;

  }

  &:hover{
    transform: scale(1.02) translateY(-1.5rem);
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &__text {
  }
}
